.button {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.87;
  min-width: 73px;
  min-height: 50px;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--logo-bg-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.hero--button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus {
    color: var(--logo-bg-white-color);
    background-color: var(--hero-but-hover);
  }
  @media screen and (max-width: $mobile) {
    font-size: 14px;
  }
}
