.button {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.87;
  min-width: 73px;
  min-height: 50px;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--logo-bg-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.hero--button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus {
    color: var(--logo-bg-white-color);
    background-color: var(--hero-but-hover);
  }
}

.btn-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-menu .btn-item-active {
  color: var(--logo-bg-white-color);
  background-color: var(--accent-color);
}

.btn-item {
  font-family: Roboto;
  font-style: normal;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  background-color: var(--button-bg-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: color, box-shadow, background-color, 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--logo-bg-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
