.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  padding: 40px;
  min-height: 580px;
  background-color: var(--logo-bg-white-color);
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 3s var(--timing-function);
}
.modal-btn {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--logo-bg-white-color);
  top: 8px;
  right: 8px;
}
.modal-close {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
